.nav-tabs {
  margin: 0;
  font-size: 0;
  border-bottom-color: #EEE;
}

.nav-tabs li {
  display: inline-block;
  float: none;
}

.nav-tabs li:last-child a {
  margin-right: 0;
}

.nav-tabs li a {
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  margin-right: 1px;
}

.nav-tabs li a, .nav-tabs li a:hover {
  background: #F4F4F4;
  border-bottom: none;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-top: 3px solid #EEE;
  color: #CCC;
}

.nav-tabs li a:hover {
  border-bottom-color: transparent;
  border-top: 3px solid #CCC;
  box-shadow: none;
}

.nav-tabs li a:active, .nav-tabs li a:focus {
  border-bottom: 0;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  background: #FFF;
  border-left-color: #EEE;
  border-right-color: #EEE;
  border-top: 3px solid #CCC;
  color: #CCC;
}

.tab-content {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: #FFF;
  border: 1px solid #EEE;
  border-top: 0;
  padding: 15px;
}

/* Vertical */

.tabs-vertical {
  display: table;
  width: 100%;
  border-top: 1px solid #EEE;
}

.tabs-vertical .tab-content {
  display: table-cell;
  vertical-align: top;
}

.tabs-vertical .nav-tabs {
  border-bottom: none;
  display: table-cell;
  height: 100%;
  float: none;
  padding: 0;
  vertical-align: top;
}

.tabs-vertical .nav-tabs > li {
  display: block;
}

.tabs-vertical .nav-tabs > li a {
  border-radius: 0;
  display: block;
  padding-top: 10px;
}

.tabs-vertical .nav-tabs > li a, .tabs-vertical .nav-tabs > li a:hover, .tabs-vertical .nav-tabs > li a:focus {
  border-bottom: none;
  border-top: none;
}

.tabs-vertical .nav-tabs > li.active a,
.tabs-vertical .nav-tabs > li.active a:hover, .tabs-vertical .nav-tabs > li.active:focus {
  border-top: none;
}

/* Vertical - Left Side */
.tabs-left .tab-content {
  border-radius: 0 5px 5px 5px;
  border-left: none;
}

.tabs-left .nav-tabs > li {
  margin-right: -1px;
}

.tabs-left .nav-tabs > li:first-child a {
  border-radius: 5px 0 0 0;
}

.tabs-left .nav-tabs > li:last-child a {
  border-radius: 0 0 0 5px;
}

.tabs-left .nav-tabs > li a {
  border-right: 1px solid #EEE;
  border-left: 3px solid #EEE;
  margin-right: 1px;
  margin-left: -3px;
}

.tabs-left .nav-tabs > li a:hover {
  border-left-color: #CCC;
}

.tabs-left .nav-tabs > li.active a,
.tabs-left .nav-tabs > li.active a:hover,
.tabs-left .nav-tabs > li.active a:focus {
  border-left: 3px solid #CCC;
  border-right-color: #FFF;
}

section.highlight {
  background-color: #0088cc !important;
  border-color: #0077b3 !important;
}

section.page-top h2 {
  border-bottom-color: #0088cc;
}

section.toggle label {
  color: #0088cc;
  border-left-color: #0088cc;
}

section.toggle.active > label {
  background-color: #0088cc;
  border-color: #0088cc;
  color: #FFF;
}

section.page-top.custom-product {
  background-color: #0077b3;
  border-top-color: #0081c2;
}



/* Toggles */
.toggle {
  margin: 10px 0 0;
  position: relative;
  clear: both;
}

.toggle > input {
  cursor: pointer;
  filter: alpha(opacity=0);
  height: 45px;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.toggle > label {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  background: #F4F4F4;
  border-left: 3px solid #CCC;
  border-radius: 8px;
  color: #CCC;
  display: block;
  font-size: 1.1em;
  min-height: 20px;
  padding: 12px 20px 12px 10px;
  position: relative;
  cursor: pointer;
  font-weight: 400;
}

.toggle > label:-moz-selection {
  background: none;
}

.toggle > label i.icon-minus {
  display: none;
}

.toggle > label i.icon-plus {
  display: inline;
}

.toggle > label:selection {
  background: none;
}

.toggle > label:before {
  border: 6px solid transparent;
  border-left-color: inherit;
  content: '';
  margin-top: -6px;
  position: absolute;
  right: 4px;
  top: 50%;
}

.toggle > label:hover {
  background: #f5f5f5;
}

.toggle > label + p {
  color: #999;
  display: block;
  overflow: hidden;
  padding-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 25px;
}

.toggle > label i {
  font-size: 0.7em;
  margin-right: 8px;
  position: relative;
  top: -1px;
}

.toggle > .toggle-content {
  display: none;
}

.toggle.active i.icon-minus {
  display: inline;
}

.toggle.active i.icon-plus {
  display: none;
}

.toggle.active > label {
  background: #F4F4F4;
  border-color: #CCC;
}

.toggle.active > label:before {
  border: 6px solid transparent;
  border-top-color: inherit;
  margin-top: -3px;
  right: 10px;
}

.toggle.active > p {
  white-space: normal;
}

.toggle > p.preview-active {
  height: auto;
  white-space: normal;
}

.tabs ul.nav-tabs a,
.tabs ul.nav-tabs a:hover {
  color: #0088cc;
}

.tabs ul.nav-tabs a:hover {
  border-top-color: #0088cc;
}

.tabs ul.nav-tabs li.active a {
  border-top-color: #0088cc;
  color: #0088cc;
}

.tabs.tabs-bottom ul.nav-tabs li a:hover,
.tabs.tabs-bottom ul.nav-tabs li.active a,
.tabs.tabs-bottom ul.nav-tabs li.active a:hover,
.tabs.tabs-bottom ul.nav-tabs li.active a:focus {
  border-bottom-color: #0088cc;
}

.tabs.tabs-vertical.tabs-left ul.nav-tabs li a:hover,
.tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a,
.tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a:hover,
.tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a:focus {
  border-left-color: #0088cc;
}

.tabs.tabs-vertical.tabs-right ul.nav-tabs li a:hover,
.tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a,
.tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a:hover,
.tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a:focus {
  border-right-color: #0088cc;
}



.tabs-fieldset{
  margin-top:15px;
}

/* Divider Line */
hr {
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
  border: 0;
  height: 1px;
  margin: 22px 0 22px 0;
}

hr.short {
  margin: 11px 0 11px 0;
}

hr.tall {
  margin: 44px 0 44px 0;
}

hr.taller {
  margin: 66px 0 66px 0;
}

hr.light {
  background-image: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.2), transparent);
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
}
